PORT=3000
FRONTEND_URL=http://localhost:4200
DATABASE_FILE=tfcloud.sqlite

ADMIN_EMAIL=admin@gmail.com
ADMIN_SENHA=senai1234
JWT_SECRET=9dbf62e3d3667eca45f2cb83783a82fc1183bbc5be5b2c30d4d75fbfba4139d0

EMAIL_REMETENTE=
SMTP_HOST=
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
UPLOADS_DIR=uploads